---
---

@import "{{ site.theme }}";

$header-bg-clr: #159957;
$header-bg-clr-secondary: #155799;

header.nav-header {
    color: rgba(21,87,153,1);
    box-sizing: border-box;
    margin: 0;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header.nav-header a:hover{
    color: rgba(21,87,153,0.8);
    text-decoration: none;
}

nav.main-nav {
    list-style: none;
    display: inline-block;
}

nav.main-nav li {
    display: inline-block;
    padding-right: 40px;
}

nav.main-nav li a {
    transition: all 0.3s ease 0s;
}

.vertical { 
    margin-left: 30px;
    border-left: 2px solid rgba(21,87,153,1); 
    height: 30px;
}